# Ignore C++
#####################################

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore Cryengine specific
#####################################

*.log
*.dmp
*.pyo
*.pyc
*.bak
*.bak2
*.pak

# Temporary directories.
/[Bb]in*/
/[Ss]olutions/*
/[Ss]olutions_cmake/*
/[Bb]uild/
/[Bb]uilds/
/[Ll]og[Bb]ackups
/[Ll]ogs/
/[Uu]ser*/
/[Tt]emp/
/[Ee]ditor/
/rc_out_PC_pure/
/*_package/

# Code Editors
.idea/
.vscode/
.vs/

#ignore Assets for now

*.fbx
*.obj
*.dae
*.wav
*.mp3
*.ogg
*.png
*.jpg
*.tif
*.dds
*.mtl