# Ignore C++
#####################################

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore Cryengine specific
#####################################

*.pak

/user.cfg
/system.cfg
/editor.cfg
/.bootstrap*.*

# Ignore bin folders
/bin/*
/BinTemp/*

# Ignore auto generated cmake solutions
/solutions/*

# Temp files
/user/*
/user(1)/*
/user(2)/*
*.log
*.dmp
/testresults/*
/logbackups/*
*.pyo
*.pyc

/.depproj/*
/project.sln

#ignore Assets for now

*.fbx
*.obj
*.dae
*.wav
*.mp3
*.ogg
*.png
*.jpg
*.tif

# Might contain a license key, so don't add it to a repo.
/Code/Tools/waf-1.7.13/recode.lic

# Ignore IDE Folders
.vs/
.vscode/